*{

    margin: 0;
    padding: 0;

}




.Login{
    height: 870px;
    width: 100%;
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(6, 19, 63, 0.5));
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    transition:1.5s;
    box-shadow: inset 0px  2.5px  5px  black;  
    
     
}

.form-box{
    position: relative;
    height: 500px;
    width: 400px;
    background:white;
    margin: 10% auto ;
    box-shadow: 0px 0px 10px  black  ;
        
}

.login-title{
    position:relative;
    top: 20px;
    padding: 15px;
    

}

.inside-login{
    font-size: 25px;
    font-weight: 500;
    color: gray;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

}

.login-bar{
    position: absolute;
    top:85px;
    width: 80%;
    margin: 0 10%;
    text-align: center;

}

.input-field{
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: 1.5px solid black ;
    outline:none;
    margin:15px 0;
    padding: 2% ;
    height: 30px;
    width: 85%;
    
    
}

.submit-button{
    width: 40%;
    display:block;
    border-radius: 15px;
    padding:10px 40px;
    margin: 10px auto;
    background:white;
    border:2px solid black ;
    transition: 0.5s;
    font-size: 15px;
    

}

.submit-button:hover{
    color: white;
    background-color:black ;
    cursor: pointer;
    
}
.check-box{
    margin: 20px 5px;
    cursor: pointer;

}
.login-bar > span {
    color: black;
    font-size: 15px;
}

.register,.forgot{
    margin: 10% 0;
}
.register a,.forgot a{
    
    text-decoration: none;
        
}

/*for tablet screens 600px and above*/

@media screen and (max-width:768px)  {
    
    .Login{
        height: max-content;
    }

    .form-box{
        margin: 15% auto;
      
    }

    .input-field{
        font-size: 15px;
    }

    .submit-button{
        font-size: 17.5px;
        width: 50%;
    }

    .check-box{
        margin: 20px 5px;
    
    }

    .login-bar > span{
        font-size: 17.5px;
    }

    .register a,.forgot a , .register p{
    
       font-size: 17.5px;
            
    }

   
}

/* for large phones 375px and above*/

@media screen and (max-width:600px)  {
    
    .Login{
        height: max-content;
    }

    .form-box{
        margin: 25% auto;
        width: 100%;
      
    }
    .inside-login{
        font-size: 20px;
    }

    .input-field{
        font-size: 12.5px;
    }

    .submit-button{
        font-size: 15px;
        width: 50%;
    }

    .check-box{
        margin: 20px 5px;
    
    }

    .login-bar > span{
        font-size: 15px;
    }

    .register a,.forgot a , .register p{
    
       font-size: 17.5px;
            
    }

   
}

/*for smaller phones up to 375px*/

@media screen and (max-width:375px)  {
    
    .Login{
        height: max-content;
    }

    .form-box{
        margin: 30% auto;
        width: 100%;
      
    }
    .inside-login{
        font-size: 20px;
    }

    .input-field{
        font-size: 12.5px;
    }

    .submit-button{
        font-size: 15px;
        width: 50%;
    }

    .check-box{
        margin: 20px 5px;
    
    }

    .login-bar > span{
        font-size: 15px;
    }

    .register a,.forgot a , .register p{
    
       font-size: 15px;
            
    }

   
}







 



